.title-container {
  font-size: .9rem;
  font-weight: 700;
  position: relative;
  margin: 75px 0 30px;
  padding: 17px;
  letter-spacing: 1px;
  color: $white;
  background-image: linear-gradient(-10deg, $secondary 0, $primary 100%);

  p {
    margin-bottom: 0;
  }
}
