{% extends "admin/base_site.html" %}
{% load suit_tags admin_static i18n staticfiles compress %}
{% block extrahead %}
{% compress js %}
<!-- jQuery -->
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<!-- Charts.js -->
<script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
<!-- Custom -->
<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}

{% compress css %}
<link href="{% static 'scss/styles.scss' %}" rel='stylesheet' type="text/x-scss" charset="utf-8" />
{% endcompress %}
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/"><img src="{% static 'img/snitch.png' %}" class="logo"> {% trans 'Seeker' %}</a></h1>
{% endblock %}
