
# general things to ignore
build/
# dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
/venv
__pycache__
*.pyc
*.sqlite3
.DS_Store

# due to using tox and pytest
.tox
.cache
.pytest_cache

# node modules
/node_modules

# project dist static files
/static
media
/finder/static/assets

.vscode
# project secrets
.env

# due to ansible logs
*.log
*.retry

# background process stuff
nohup.out

# Ignore data dumps
fixtures/
initial_data.dump

# ignore scraper things
# Google Scraper specific
Drivers/chromedriver
Drivers/geckodriver
Private/
keywords.txt
out.csv
# cache for GoogleScraper testings
.scrapecache/
*.db
/results
*.log
