
# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
/venv
__pycache__
*.pyc
*.sqlite3
.DS_Store

# due to using tox and pytest
.tox
.cache
.pytest_cache

# node modules
/node_modules

# project dist static files
/static/
/media/

# project secrets
.env

# due to ansible logs
*.log
*.retry

# local db backups
backups/
