# Django framework
Django==2.2.9
# API
djangorestframework==3.11.0
# Admin
django-grappelli==2.13.3
# Testing / Debug
django-debug-toolbar==2.1
flake8==3.7.9
tox==3.14.3
pytest==5.3.2
# Database
psycopg2-binary==2.8.4
# Scheduler
APScheduler==3.6.3
django-apscheduler==0.3.0
# Scrapy
Scrapy==1.8.0
scrapy-djangoitem==1.1.1
scrapyd==1.2.1
# Filter queryset from url params
django-filter==2.2.0
# Pip Tools
pip-tools==4.3.0
pur==5.3.0
# Sane HTTP
requests==2.22.0
# Static Assets
django-compressor==2.4
django-libsass==0.8
# import export
django-import-export==2.0
# Gunicorn
gunicorn==20.0.4
whitenoise==5.0.1
# local flavor
django-localflavor==2.2
# Python Excel
openpyxl==3.0.3
xlsxwriter==1.2.7
# NLP Library to get some insights
spacy==2.2.3
# PIL
pillow==7.0.0
