amqp==2.3.2
asn1crypto==0.24.0
attrs==18.1.0
Automat==0.7.0
billiard==3.5.0.4
celery==4.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.3.1
cssselect==1.0.3
Django==2.0.3
django-anymail==2.0
django-debug-toolbar==1.9.1
django-dotenv==1.4.2
django-widget-tweaks==1.4.1
factory-boy==2.11.1
Faker==0.9.0
first==2.0.1
flake8==3.5.0
gunicorn==19.7.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
inflection==0.3.1
kombu==4.2.1
lxml==4.2.4
mccabe==0.6.1
more-itertools==4.3.0
parsel==1.5.0
pip-tools==1.11.0
pip-upgrade-outdated==1.2
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.3.1
pycparser==2.18
PyDispatcher==2.0.5
pyflakes==1.6.0
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
pytest==3.5.0
pytest-django==3.1.2
pytest-factoryboy==2.0.1
python-dateutil==2.7.3
pytz==2018.5
queuelib==1.5.0
redis==2.10.6
requests==2.19.1
Scrapy==1.5.0
scrapy-djangoitem==1.1.1
service-identity==17.0.0
six==1.11.0
sqlparse==0.2.4
text-unidecode==1.2
tox==3.0.0
Twisted==18.7.0
urllib3==1.23
vine==1.1.4
virtualenv==16.0.0
w3lib==1.19.0
zope.interface==4.5.0
