<!DOCTYPE html>
{% load i18n staticfiles compress %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/meta/favicon.ico' %}">
    {% compress css %}
    <link rel="stylesheet" href="{% static '/css/style.scss' %}" type="text/x-scss">
    {% endcompress %}
</head>

<body class="page">
    {% include 'includes/nav.html' %}
    <main role="main" class="main">
        <div class="title-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <p>Breadcrumb / Navigation / Goes / Here</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% block content %}{% endblock content %}
            </div>
        </div>
        </div>
    </main>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Seeker &copy; 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    {% compress js %}
    <!-- jQuery -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <!-- Popper.js -->
    <!-- <script src="{% static 'js/vendor/popper.min.js' %}"></script> -->
    <!-- Bootstrap Libs -->
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'js/vendor/select2.min.js' %}"></script>
    <!-- Seeker JS -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}
</body>

</html>
