<!DOCTYPE html> 
{% load i18n staticfiles %} 
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">
</head>

<body class="page">
    {% include 'includes/nav.html' %}
    <main role="main" class="container">
        <div class="row">
            {% block content %}{% endblock content %}
        </div>
    </main>
     <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Seeker &copy; 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    <script src="{% static 'dist/js/main.min.js' %}"></script>
</body>
</html>
