html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    line-height: 1.85;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: inherit;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3.6rem;
}

h4 {
    font-size: 2.8rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    color: inherit;
    line-height: 1.85;
    font-size: 1.4rem;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

a {
    transition: all .3s ease;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    outline: none;

    &:hover,
    &:focus {
        text-decoration: none;
        display: inline-block;
        color: inherit;
        outline: none;
    }
}

.button {
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}

.primary-color {
    color: #246df8;
}

.primary-bg {
    background: #246df8;
}

.white-text {
    color: #ffffff;
}

.white-bg {
    background: #ffffff;
}

.alice-bg {
    background: #f7f9fc;
}

.section-padding {
    padding: 120px 0;
}

.section-padding-top {
    padding-top: 120px;
}

.section-padding-bottom {
    padding-bottom: 120px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.section-padding-60 {
    padding: 60px 0;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.margin-balance {
    margin-bottom: -30px;
    zoom: 1;
    position: relative;
    overflow: hidden;
}

.section-wrapper+.section-wrapper {
    margin-top: 50px;
}

.fix:before {
    display: block;
    content: '';
    clear: both;
}

@media (max-width: 991px) {
    .right-content-md {
        margin-top: 60px;
    }
}

@media all and (max-width: 767px) {
    h1 {
        font-size: 4.8rem;
    }

    h2 {
        font-size: 3.6rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    h4 {
        font-size: 2.4rem;
    }

    .right-content-sm {
        margin-top: 60px;
    }
}
