.app-download-bg {
    background: url("../images/bg/app-bg.jpg") no-repeat left;
    background-size: cover;
}

.app-download h2 {
    font-size: 2.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

.app-download p {
    max-width: 380px;
    color: #ffffff;
}

.app-download .app-download-button a {
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 12px 15px 12px 45px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    margin-top: 20px;
}

.app-download .app-download-button a:before {
    position: absolute;
    top: 11px;
    left: 15px;
    content: '';
}

.app-download .app-download-button a:hover {
    border-color: #ffffff;
}

.app-download .app-download-button .apple-app:before {
    content: url("../images/apple-white.png");
}

.app-download .app-download-button .android-app:before {
    content: url("../images/google-white.png");
}