.candidate-filter-result.grid {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.candidate-filter-result.grid:before {
    position: absolute;
    top: 30px;
    left: 50%;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.08);
    content: '';
}

.candidate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.candidate .thumb {
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
}

.candidate .thumb+.body {
    padding-left: 20px;
}

.candidate .body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.candidate .body .content h4 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}

.candidate .body .content h4:hover {
    color: #246df8;
}

.candidate .body .content .info span {
    color: #6f7484;
    margin-right: 15px;
}

.candidate .body .content .info span.work-post svg {
    color: rgba(36, 109, 248, 0.4);
}

.candidate .body .content .info span.location svg {
    color: #6f7484;
}

.candidate .body .content .info span svg {
    height: 15px;
    color: #aaa;
}

.candidate .body .button-area a {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 8px 15px;
    color: #232630;
    border-radius: 3px;
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.candidate:hover {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
}

.candidate:hover .body .button-area a {
    background: #246df8;
    border-color: #246df8;
    color: #ffffff;
}

.candidate.half-grid {
    width: calc(50% - 30px);
    display: block;
    text-align: center;
}

.candidate.half-grid .thumb {
    margin: 0 auto;
}

.candidate.half-grid .thumb+.body {
    padding-left: 0;
}

.candidate.half-grid .body {
    display: block;
    margin-top: 15px;
}

.candidate.half-grid .body .content span {
    display: inline-block;
    margin-bottom: 8px;
}

.candidate.half-grid .body .button-area {
    margin-top: 10px;
}

/*---------------------------------------------
	Candidate Details
---------------------------------------------*/
.candidate-details {
    background: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
}

.title-and-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title-and-info .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title-and-info .title .thumb {
    width: 100px;
    border-radius: 3px;
    overflow: hidden;
}

.title-and-info .title .thumb+.title-body {
    padding-left: 20px;
}

.title-and-info .title .title-body h4 {
    font-size: 2.6rem;
    font-weight: 600;
    padding-bottom: 15px;
}

.title-and-info .title .title-body .info span {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-right: 15px;
    color: #6f7484;
}

.title-and-info .title .title-body .info span svg {
    height: 15px;
    margin-right: 5px;
}

.title-and-info .title .title-body .info .candidate-designation svg {
    color: rgba(36, 109, 248, 0.4);
}

.title-and-info .download-resume a {
    padding: 15px 30px;
    border-radius: 3px;
    background: rgba(36, 109, 248, 0.15);
    color: #246df8;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.title-and-info .download-resume a svg {
    height: 18px;
    margin-left: 10px;
}

.title-and-info .download-resume a:hover {
    color: #ffffff;
    background: #246df8;
}

.skill-and-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.skill-and-profile label {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-right: 10px;
}

.skill-and-profile .skill a {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 3px 15px;
    margin-right: 5px;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f9fbfe), to(#ffffff));
    background-image: -webkit-linear-gradient(left, #f9fbfe, #ffffff);
    background-image: -o-linear-gradient(left, #f9fbfe, #ffffff);
    background-image: linear-gradient(to right, #f9fbfe, #ffffff);
}

.skill-and-profile .skill a:hover {
    background: #246df8;
    border-color: #246df8;
    color: #ffffff;
}

.skill-and-profile .social-profile a {
    font-size: 1.4rem;
    margin-right: 15px;
    color: #828794;
}

.skill-and-profile .social-profile a:hover {
    color: #246df8;
}

.details-information {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.details-section {
    padding-left: 30px;
}

.details-section h4 {
    font-size: 1.8rem;
    position: relative;
    padding-bottom: 20px;
}

.details-section h4 svg {
    height: 22px;
    position: absolute;
    top: 0;
    left: -30px;
    color: #828794;
}

.details-section p {
    color: #6f7484;
}

.details-section p+p {
    margin-top: 20px;
}

.details-section+.details-section {
    margin-top: 60px;
}

.edication-background .education-label {
    position: relative;
    padding-left: 25px;
}

.edication-background .education-label:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #246df8;
    top: 7px;
    left: 0;
}

.edication-background .education-label .study-year {
    font-size: 1.4rem;
    color: #6f7484;
    margin-bottom: 5px;
    display: inline-block;
}

.edication-background .education-label h5 {
    color: #232630;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.edication-background .education-label h5 span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    margin-left: 10px;
}

.edication-background .education-label+.education-label {
    margin-top: 20px;
}

.experience .experience-section {
    position: relative;
    padding-left: 25px;
}

.experience .experience-section:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #246df8;
    top: 7px;
    left: 0;
}

.experience .experience-section .service-year {
    font-size: 1.4rem;
    color: #6f7484;
    margin-bottom: 5px;
    display: inline-block;
}

.experience .experience-section h5 {
    color: #232630;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.experience .experience-section h5 span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    margin-left: 10px;
}

.experience .experience-section+.experience-section {
    margin-top: 20px;
}

.special-qualification ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.special-qualification ul li {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    position: relative;
    padding-left: 20px;
}

.special-qualification ul li:before {
    position: absolute;
    content: '\f058';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    top: 3px;
    left: 0;
    font-size: 1.2rem;
    color: #aaa;
}

.special-qualification ul li+li {
    margin-top: 8px;
}

.portfolio .portfolio-slider .portfolio-item {
    position: relative;
}

.portfolio .portfolio-slider .portfolio-item:hover .overlay a {
    margin: 0 5px;
    opacity: 1;
}

.portfolio .portfolio-slider .portfolio-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100%;
    text-align: center;
}

.portfolio .portfolio-slider .portfolio-item .overlay a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 40px;
    margin: 0 23px;
    opacity: 0;
    color: #246df8;
}

.portfolio .portfolio-slider .portfolio-item .overlay a svg {
    height: 20px;
}

.portfolio-slider {
    position: relative;
}

.portfolio-slider .owl-item.active .portfolio-item:before {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    background-image: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
}

.portfolio-slider .owl-item.active+.owl-item.active .portfolio-item:before {
    height: 0;
    width: 0;
    background-image: transparent;
}

.portfolio-slider .owl-item.active+.owl-item.active+.owl-item.active .portfolio-item:before {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    content: '';
    background-image: -webkit-gradient(linear, right top, left top, from(white), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

.portfolio-slider .owl-nav .owl-next,
.portfolio-slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.8rem;
    outline: none;
}

.portfolio-slider .owl-nav .owl-next {
    right: 0;
}

.portfolio-slider .owl-nav .owl-prev {
    left: 0;
}

.personal-information {
    margin-top: 60px;
}

.personal-information ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.personal-information ul li {
    font-size: 1.4rem;
    color: #6f7484;
}

.personal-information ul li span {
    font-size: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 5px;
    color: #232630;
}

.personal-information ul li+li {
    margin-top: 8px;
}

.information {
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(247, 249, 252, 0)), to(#f7f9fc));
    background-image: -webkit-linear-gradient(right, rgba(247, 249, 252, 0), #f7f9fc);
    background-image: -o-linear-gradient(right, rgba(247, 249, 252, 0), #f7f9fc);
    background-image: linear-gradient(to left, rgba(247, 249, 252, 0), #f7f9fc);
}

.information h4 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.information ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.information ul li {
    font-size: 1.4rem;
    color: #6f7484;
}

.information ul li span {
    font-size: "Poppins", sans-serif;
    font-weight: 500;
    margin-right: 5px;
    color: #232630;
}

.information ul li+li {
    margin-top: 8px;
}

.information-and-contact .buttons {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.information-and-contact .buttons .button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
}

.information-and-contact .buttons .button+.button {
    margin-top: 20px;
}

.information-and-contact .buttons .contact-button {
    flex-break: after;
    width: 100%;
    background: #246df8;
    padding: 14px;
    border-radius: 3px;
    border: 1px solid #246df8;
    text-align: center;
    color: #ffffff;
}

.information-and-contact .buttons .cover-download,
.information-and-contact .buttons .contact-download {
    padding: 14px 5px;
    text-align: center;
    border: 1px solid rgba(247, 249, 252, 0.05);
    border-radius: 3px;
    width: calc(50% - 10px);
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(247, 249, 252, 0)), to(#f7f9fc));
    background-image: -webkit-linear-gradient(right, rgba(247, 249, 252, 0), #f7f9fc);
    background-image: -o-linear-gradient(right, rgba(247, 249, 252, 0), #f7f9fc);
    background-image: linear-gradient(to left, rgba(247, 249, 252, 0), #f7f9fc);
}

.information-and-contact .buttons .cover-download svg,
.information-and-contact .buttons .contact-download svg {
    height: 15px;
}

.information-and-contact .buttons .cover-download:hover,
.information-and-contact .buttons .contact-download:hover {
    border-color: rgba(36, 109, 248, 0.2);
    color: #246df8;
}

.contact-form-modal.show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-form-modal.show .modal-dialog {
    max-width: 500px;
    width: 100%;
}

.contact-form-modal .modal-body {
    padding: 40px 30px;
}

.contact-form-modal .modal-body h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}

.contact-form-modal .modal-body h4 svg {
    height: 18px;
    margin-right: 10px;
    color: #6f7484;
}

.contact-form-modal .modal-body form .form-group {
    margin-bottom: 30px;
}

.contact-form-modal .modal-body form .form-control {
    height: 40px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;
    font-size: 1.4rem;
}

.contact-form-modal .modal-body form .form-control:focus {
    border-color: #246df8;
}

.contact-form-modal .modal-body form textarea.form-control {
    height: 100px;
}

.contact-form-modal .modal-body form .button {
    background: #246df8;
    padding: 11px 30px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.basic-info-input .add-new-field {
    color: #246df8;
    background: rgba(36, 109, 248, 0.15);
    border-radius: 3px;
    border: 0;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 20px;
    margin-bottom: 30px;
}

.post-content-wrapper .input-group .form-control {
    padding-left: 15px;
}

.post-content-wrapper .input-group-prepend {
    margin-right: -1px;
    position: relative;
}

.post-content-wrapper .input-group-prepend .input-group-text {
    width: 80px;
    background: transparent;
    margin-right: 1px;
    border: 0;
    font-size: 1.4rem;
    padding-left: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.post-content-wrapper .input-group-prepend .dropdown-label {
    overflow: hidden;
    position: relative;
    background: white;
    width: 70px;
    padding: 0;
    border-bottom: 0;
}

.post-content-wrapper .input-group-prepend .dropdown-label:before {
    position: absolute;
    content: '';
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.08);
}

.post-content-wrapper .input-group-prepend .dropdown-label select {
    background: transparent;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding-left: 0.5em;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 10;
}

.post-content-wrapper .input-group-prepend .dropdown-label i {
    position: absolute;
    right: 0.5em;
    top: 13px;
    z-index: 5;
    color: black;
}

.post-content-wrapper .upload-portfolio-image {
    position: relative;
}

.post-content-wrapper .update-photo {
    height: 100px;
    position: relative;
    width: 100px;
    margin: 0;
    overflow: hidden;
    border-radius: 3px;
}

.post-content-wrapper .update-photo img {
    height: 105%;
    width: initial;
    max-height: 100%;
    max-width: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.post-content-wrapper .upload-portfolio-image .file-upload {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    border: 0;
    padding: 5px 0;
    background: rgba(36, 109, 248, 0.7);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.post-content-wrapper .upload-portfolio-image .file-upload svg {
    height: 15px;
    width: 15px;
}

.post-content-wrapper .upload-portfolio-image .file-upload:hover {
    background: rgba(36, 109, 248, 0.9);
}

.post-content-wrapper .file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.post-content-wrapper .add-cv {
    position: relative;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    color: #6f7484;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 15px;
    margin-right: 10px;
    background: #f7f9fc;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.post-content-wrapper .add-cv input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

.post-content-wrapper .add-cv svg {
    height: 15px;
    width: 15px;
    margin-left: 7px;
}

@media all and (max-width: 991px) {
    .information-and-contact {
        margin-top: 60px;
    }
}

@media all and (max-width: 767px) {
    .candidate .body {
        display: block;
    }

    .candidate .body .button-area {
        margin-top: 20px;
    }

    .title-and-info {
        display: block;
    }

    .title-and-info .download-resume {
        margin-top: 30px;
    }

    .skill-and-profile {
        display: block;
    }

    .skill-and-profile .social-profile {
        margin-top: 20px;
    }

    .portfolio-slider .owl-item.active .portfolio-item:before {
        height: 0;
        width: 0;
    }

    .candidate-details {
        padding: 20px;
    }

    .contact-form-modal.show {
        display: block !important;
    }

    .contact-form-modal.show .modal-dialog {
        padding: 50px 15px;
        margin: 0 auto;
    }

    .contact-form-modal .modal-body form .form-group {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 575px) {
    .candidate-filter-result.grid {
        display: block;
    }

    .candidate-filter-result.grid:before {
        height: 0;
        width: 0;
    }

    .candidate.half-grid {
        width: 100%;
    }
}

@media all and (max-width: 439px) {
    .candidate {
        display: block;
    }

    .candidate .thumb+.body {
        padding-left: 0;
        margin-top: 15px;
    }

    .title-and-info .title {
        display: block;
    }

    .title-and-info .title .thumb+.title-body {
        padding-left: 0;
        margin-top: 20px;
    }

    .skill-and-profile .skill a {
        margin-bottom: 10px;
    }

    .information-and-contact .buttons {
        display: block;
    }

    .information-and-contact .buttons .cover-download,
    .information-and-contact .buttons .contact-download {
        width: 100%;
    }

    .information-and-contact .buttons .cover-download svg,
    .information-and-contact .buttons .contact-download svg {
        height: 15px;
    }

    .information-and-contact .buttons .cover-download:hover,
    .information-and-contact .buttons .contact-download:hover {
        border-color: rgba(36, 109, 248, 0.2);
        color: #246df8;
    }
}