.how-it-work {
    padding: 60px 30px;
}

.working-process {
    position: relative;
    overflow: hidden;
}

.working-process:before {
    position: absolute;
    content: url("../images/dot.png");
    top: 35px;
    left: 13px;
}

.working-process h3 {
    font-size: 1.8rem;
    padding-bottom: 15px;
}

.working-process h3 span {
    color: #246df8;
    margin-right: 10px;
}

.working-process p {
    padding-left: 47px;
    color: #6f7484;
}

.working-process+.working-process {
    margin-top: 60px;
}

@media all and (max-width: 991px) {
    .working-process-thumb {
        margin-bottom: 50px;
    }
}