{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Jobs | Seeker{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <ul class="list-unstyled">
                {% for job in jobs %}
                <li class="{% cycle 'media' 'media my-4' %}">
                    <img src="//logo.clearbit.com/{{ job.url }}?size=80" class="mr-3" alt="{{ job.company.name }} Logo">
                    <div class="media-body">
                        <a href="{% url 'job_detail' pk=job.pk %}"><h5 class="mt-0 mb-1">{{ job.title }}</h5></a>
                        <span class="badge badge-primary">{{ job.company }}</span>
                        <span class="badge badge-secondary">{{ job.board }}</span>
                        <span class="badge badge-success">{{ job.salary }}</span>
                        <br>
                        <span class="font-weight-light">Scraped: {{ job.scrape_date | date }}</span>
                        {% if job.pub_date %}
                        <span class="font-weight-light"> | Published: {{ job.pub_date }}</span>
                        {% endif %}
                        <!-- {{ job.body | safe}} -->
                    </div>

                </li>
                <hr>
                {% endfor %}
            </ul>
            {% include 'includes/pagination.html' %}
        </div>
        <div class="col-4">
            <div class="card p-3">
                <h5>Search</h5>
                <form action="{% url 'search_results' %}" method="get">
                    <div class="form-group">
                        <input name="q" type="text" class="form-control" placeholder="Search...">
                    </div>
                </form>
            </div>
            <div class="card my-4 p-3">
                <h5>Skills</h5>
                <form action="{% url 'search_results' %}" method="get">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Ruby
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            CSS
                        </label>
                    </div>
                </form>
            </div>
            <div class="card p-3">
                <h5>Salary Range</h5>
                <form action="{% url 'search_results' %}" method="get">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            < $100,000
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            > $100,000
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
