.navbar {
    margin-bottom: 0;
    padding: 10px 0;
    background: $white !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0 0 10px;
    border: 0;
}

.navbar-brand {
    font-weight: 700;
    padding: 14px 15px 10px;

    &:hover {
        color: $grey-light;
    }
}

.navbar {
    .navbar-nav> {
        li>a {
            font-size: .9rem;
            color: $grey;
        }

        .active>a {
            color: $grey;
            background-color: transparent;

            &:focus,
            &:hover {
                color: $grey;
                background-color: transparent;
            }
        }

        .open>a {
            color: $grey;
            background-color: transparent;

            &:focus,
            &:hover {
                color: $grey;
                background-color: transparent;
            }
        }
    }

    .navbar-toggle {

        &:focus,
        &:hover {
            background: $white;
        }

        border-color: $white;
    }
}

.navbar-nav>li>.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu a {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.42857143;
    display: block;
    clear: both;
    padding: 9px 20px;
    white-space: nowrap;
    color: $grey;
}

.navbar-content {
    width: 320px;
    padding: 15px 15px 0;

    img {
        width: 103px;
        height: 103px;
    }

    a {
        color: $grey-dark;
    }
}

.navbar-nav {
    &.mt-2 .dropdown-menu {

        &:after,
        &:before {
            position: absolute;
            content: '';
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
        }
    }

    &.my-2 .dropdown-menu {

        &:after,
        &:before {
            position: absolute;
            content: '';
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
        }
    }
}

.navbar-content {

    &:after,
    &:before {
        line-height: 0;
        display: table;
        content: "";
    }
}

.dropdown-menu,
.navbar-nav.my-2 .dropdown-menu a {
    padding: 0;
}

.dropdown-item {

    &.active,
    &:active {
        background-color: #eee;
    }
}

.navbar-nav {
    &.mt-2 .dropdown-menu {
        &:before {
            top: -6px;
            left: 21px;
            display: inline-block;
            border-bottom: 7px solid #ccc;
            border-bottom-color: rgba(0, 0, 0, 0.2);
        }

        &:after {
            top: -5px;
            left: 21px;
            display: inline-block;
            border-bottom: 7px solid $white;
        }
    }

    &.my-2 .dropdown-menu {
        right: 0;

        // left: unset;
        &:before {
            top: -6px;
            right: 21px;
            display: inline-block;
            border-bottom: 7px solid #ccc;
            border-bottom-color: rgba(0, 0, 0, 0.2);
        }

        &:after {
            top: -5px;
            right: 21px !important;
            display: inline-block;
            border-bottom: 7px solid $white;
        }
    }
}
