.others-block {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
}

.about-company {
    padding: 60px 30px;
    background: url("../images/bg/bg-map.jpg") no-repeat center;
    background-size: cover;
}

.feature-content h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 30px;
}

.feature-content p {
    color: #6f7484;
}

.feature-content p+p {
    margin-top: 20px;
}

.feature-content .button {
    background: #246df8;
    color: #ffffff;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 11px 30px;
    margin-top: 20px;
}

.infobox-wrap {
    padding: 0 30px 60px;
}

.info-box {
    position: relative;
    padding-left: 65px;
    padding-bottom: 30px;
}

.info-box:before {
    position: absolute;
    content: '';
    top: 60px;
    left: 25px;
    bottom: 30px;
    width: 2px;
    border-left: 2px dashed rgba(0, 0, 0, 0.08);
}

.info-box .icon {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 0;
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.info-box .icon svg {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #246df8;
}

.info-box h4 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.info-box p {
    color: #6f7484;
}

@media all and (max-width: 991px) {
    .feature-content {
        margin-top: 30px;
    }
}