.blog-post-wrapper {
    background: #ffffff;
    padding: 60px 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
}

.blog-post-wrapper .pagination-list .pagination {
    padding-bottom: 0;
}

.blog-post-wrapper .pagination-list .pagination.padding-top-10 {
    padding-top: 10px;
}

.blog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.blog-list .info {
    width: 220px;
}

.blog-list .info span {
    display: block;
    font-size: 1.4rem;
    color: #6f7484;
}

.blog-list .info span svg {
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

.blog-list .info span.date {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blog-list .content {
    width: auto;
    max-width: 700px;
}

.blog-list .content h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.blog-list .content p {
    color: #6f7484;
}

.blog-list .read-more {
    min-width: 150px;
    margin-left: auto;
    text-align: right;
}

.blog-list .read-more .button {
    background: rgba(36, 109, 248, 0.15);
    color: #246df8;
    border: 0;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.blog-list .read-more .button:hover {
    background: #246df8;
    color: #ffffff;
}

.blog-list+.blog-list {
    margin-top: 50px;
}

.blog-grid {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    margin-bottom: 30px;
    overflow: hidden;
}

.blog-grid .thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.blog-grid .thumb img {
    width: auto;
    max-width: 100%;
    min-height: 100%;
}

.blog-grid .body {
    padding: 30px;
    padding-left: 70px;
    position: relative;
    z-index: 2;
}

.blog-grid .body:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 30px;
    right: 30px;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
}

.blog-grid .body .date {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.3;
}

.blog-grid .body .date span {
    display: block;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: #246df8;
    text-transform: uppercase;
}

.blog-grid .body h3 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}

.blog-grid .body p {
    color: #6f7484;
}

.blog-grid .thumb+.body {
    color: #ffffff;
}

.blog-grid .thumb+.body:before {
    background: rgba(255, 255, 255, 0.15);
}

.blog-grid .thumb+.body p {
    color: rgba(255, 255, 255, 0.7);
}

.blog-grid .thumb+.body+.info {
    color: #ffffff;
}

.blog-grid .thumb+.body+.info .author,
.blog-grid .thumb+.body+.info .comments {
    color: rgba(255, 255, 255, 0.7);
}

.blog-grid .info {
    position: relative;
    z-index: 2;
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog-grid .info svg {
    height: 14px;
    width: 14px;
    margin-right: 7px;
}

.blog-details-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 30px;
}

.blog-details-wrapper .info {
    width: 80%;
}

.blog-details-wrapper .info span {
    display: block;
}

.blog-details-wrapper .info span.date {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.blog-details-wrapper .info span svg {
    height: 15px;
    width: 15px;
    margin-right: 7px;
}

.blog-details-wrapper .post-content h2 {
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.blog-details-wrapper .post-content p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
}

.blog-details-wrapper .post-content img {
    border-radius: 3px;
}

.blog-details-wrapper .post-content blockquote {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #232630;
    max-width: 700px;
    margin: 0 auto;
}

.blog-details-wrapper .post-content p+p,
.blog-details-wrapper .post-content p+img,
.blog-details-wrapper .post-content img+p,
.blog-details-wrapper .post-content img+blockquote,
.blog-details-wrapper .post-content blockquote+p {
    margin-top: 30px;
}

.blog-details-wrapper .post-content .images {
    padding: 0 0 30px;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blog-details-wrapper .post-content .images .image {
    margin-top: 30px;
    width: 48%;
}

.blog-post-details-container {
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
}

.post-meta {
    background: #f7f9fc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.post-meta:before,
.post-meta:after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, 0.08);
    content: '';
}

.post-meta:before {
    left: 33.33%;
}

.post-meta:after {
    right: 33.33%;
}

.post-meta .post-author {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-meta .post-author .avatar {
    width: 70px;
    height: 70px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.post-meta .post-author .name {
    padding-left: 20px;
}

.post-meta .post-author .name p {
    margin-bottom: 0;
    color: #6f7484;
}

.post-meta .post-author .name h5 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.post-meta .post-tag {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 40px;
}

.post-meta .post-tag h6 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    color: #232630;
}

.post-meta .post-tag .tags a {
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 3px 10px;
    font-size: 1.2rem;
}

.post-meta .post-tag .tags a:hover {
    border-color: #246df8;
    color: #246df8;
}

.post-meta .post-share {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 40px;
}

.post-meta .post-share h6 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    color: #232630;
}

.post-meta .post-share .social-buttons a {
    border-radius: 50%;
    font-size: 1.3rem;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    margin-right: 5px;
}

.post-meta .post-share .social-buttons a.facebook {
    background: #3b5998;
}

.post-meta .post-share .social-buttons a.twitter {
    background: #1da1f2;
}

.post-meta .post-share .social-buttons a.google {
    background: #ea4335;
}

.post-meta .post-share .social-buttons a.linkedin {
    background: #0077b5;
}

.post-meta .post-share .social-buttons a.pinterest {
    background: #bd081c;
}

.post-meta .post-share .social-buttons a.instagram {
    background: #fd1d1d;
}

.post-comment-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.post-comment-block .comment-respond,
.post-comment-block .comment-area {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 60px 30px;
}

.post-comment-block .comment-respond h4,
.post-comment-block .comment-area h4 {
    font-size: 1.8rem;
    color: #101725;
    margin-bottom: 20px;
}

.post-comment-block .comment-respond {
    position: relative;
}

.post-comment-block .comment-respond:before {
    position: absolute;
    content: '';
    top: 60px;
    right: 0;
    bottom: 60px;
    width: 1px;
    background: rgba(0, 0, 0, 0.08);
}

.post-comment-block .comment-respond .form-group {
    margin-bottom: 30px;
}

.post-comment-block .comment-respond .form-group .form-control {
    height: 50px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0;
    font-size: 1.4rem;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.post-comment-block .comment-respond .form-group .form-control:focus {
    border-bottom-color: #246df8;
}

.post-comment-block .comment-respond .form-group textarea.form-control {
    height: 100px;
}

.post-comment-block .comment-respond .button {
    padding: 10px 30px;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
}

.post-comment-block .comment-area .comments {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post-comment-block .comment-area .comments .comment .comment-wrap {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .commenter-thumb {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .commenter-info {
    padding-left: 20px;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .commenter-info span {
    display: block;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .commenter-info span.commenter-name {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #101725;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .commenter-info span.date {
    font-size: 1.2rem;
    color: #6f7484;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .reply {
    margin-left: auto;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .reply .reply-button {
    font-size: 1.2rem;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #6f7484;
    background: #f7f9fc;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 3px 10px;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .reply .reply-button:hover {
    color: #246df8;
    border-color: #246df8;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-info .reply .modal-body .comment-respond:before {
    height: 0;
    width: 0;
}

.post-comment-block .comment-area .comments .comment .comment-wrap .comment-body {
    padding-top: 20px;
    color: #6f7484;
}

.post-comment-block .comment-area .comments .comment .child-comment {
    margin-left: 40px;
    margin-top: 30px;
}

.post-comment-block .comment-area .comments .comment:last-child .comment-wrap {
    border-bottom: 0;
    padding-bottom: 0;
}

.post-comment-block .comment-area .comments .comment:last-child .child-comment .comment:last-child .comment-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 30px;
}

.post-comment-block .comment-area .comments .comment+.comment {
    margin-top: 30px;
}

.post-comment-block .comment-area .view-all {
    margin-top: 20px;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #246df8;
    text-decoration: underline;
}

@media all and (max-width: 991px) {
    .blog-list .content {
        max-width: 470px;
    }

    .post-meta .post-author,
    .post-meta .post-tag,
    .post-meta .post-share {
        padding: 20px;
    }

    .post-meta .post-author .avatar {
        height: 50px;
        width: 50px;
    }

    .post-meta .post-author .name {
        padding-left: 12px;
    }

    .post-meta .post-share {
        width: 100%;
    }

    .blog-details-wrapper {
        display: block;
    }

    .blog-details-wrapper .info {
        width: 100%;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 767px) {
    .blog-list {
        display: block;
    }

    .blog-list .content {
        max-width: 100%;
        padding: 20px 0;
    }

    .blog-list .read-more {
        margin-left: 0;
        text-align: left;
    }

    .post-meta {
        display: block;
        padding: 20px 0;
    }

    .post-meta:before,
    .post-meta:after {
        height: 0;
        width: 0;
    }

    .post-comment-block {
        display: block;
    }
}

@media all and (max-width: 439px) {
    .blog-post-wrapper {
        padding: 60px 20px;
    }

    .blog-grid .body {
        padding: 20px;
        padding-left: 60px;
    }

    .blog-grid .body:before {
        left: 20px;
        right: 20px;
    }

    .blog-grid .body .date {
        top: 20px;
        left: 20px;
    }

    .blog-grid .info {
        padding: 10px 20px;
    }

    .blog-details-wrapper .post-content .images {
        display: block;
    }

    .blog-details-wrapper .post-content .images .image {
        width: 100%;
    }

    .post-comment-block .comment-area .comments .comment .child-comment {
        margin-left: 20px;
    }
}