.contact-block {
    padding: 60px 30px 30px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
}

.contact-address {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 30px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ffffff), to(#f7f9fc));
    background-image: -webkit-linear-gradient(right, #ffffff, #f7f9fc);
    background-image: -o-linear-gradient(right, #ffffff, #f7f9fc);
    background-image: linear-gradient(to left, #ffffff, #f7f9fc);
}

.contact-address h4 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    color: #232630;
}

.contact-address ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-address ul li {
    padding-left: 25px;
    position: relative;
    color: #6f7484;
}

.contact-address ul li svg {
    position: absolute;
    top: 5px;
    left: 0;
    height: 15px;
    width: 15px;
    color: #aaa;
}

.contact-address ul li+li {
    margin-top: 15px;
}

.contact-form h4 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #232630;
    margin-bottom: 20px;
}

.contact-form form .form-group {
    margin-bottom: 30px;
}

.contact-form form .form-group .form-control {
    height: 50px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 1.4rem;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-form form .form-group .form-control:focus {
    border-bottom-color: #246df8;
}

.contact-form form .form-group textarea.form-control {
    height: 100px;
}

.contact-form form .button {
    background: #246df8;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
    padding: 10px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
}

.contact-map {
    margin-top: 60px;
}

.contact-map .cp-map {
    height: 300px;
}

@media all and (max-width: 991px) {
    .contact-form {
        margin-top: 60px;
    }
}

@media all and (max-width: 767px) {
    .contact-block {
        padding: 60px 20px 30px;
    }
}