<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Search Widget -->
    <div class="card">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Search</button>
                </span>
            </div>
        </div>
    </div>
    <!-- Contact Widget -->
    <div class="card my-4">
        <h5 class="card-header">Company</h5>
        <div class="card-body">
            {{ job.company }}
        </div>
    </div>
    <!-- Location Widget -->
    <div class="card my-4">
        <h5 class="card-header">Location</h5>
        <div class="card-body">
            {{ job.location }}
        </div>
    </div>
     <!-- Salary Widget -->
    <div class="card my-4">
        <h5 class="card-header">Salary</h5>
        <div class="card-body">
            {{ job.salary }}
        </div>
    </div>
     <!-- Skills Widget -->
    <div class="card my-4">
        <h5 class="card-header">Skills</h5>
        <div class="card-body">
            Coming Soon...
        </div>
    </div>
    <!-- Contact Widget -->
    <div class="card my-4">
        <h5 class="card-header">Contact</h5>
        <div class="card-body">
            <ul class="list-unstyled">
                <li>Website:</li>
                <li>Phone:</li>
                <li>Email: {{ job.company.email }}</li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- /.row -->
