<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">SEEKER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs/">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/companies/">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boards/">Job Boards</a>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                Account

              </a>
          <div class="dropdown-menu" aria-labelledby="navAccount">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Resume</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
