{% extends "admin/base_site.html" %}
{% load suit_tags admin_static i18n staticfiles compress %}
{% block extrahead %}
{% compress js %}
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<!-- <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> -->
<!-- TinyMCE -->
<!-- <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script> -->
<!-- Charts.js -->
<!-- <script src="{% static 'js/Chart.bundle.min.js' %}"></script> -->
<!-- Data Maps -->
<!-- <script src="{% static 'js/datamaps.usa.min.js' %}"></script> -->
<!-- Custom -->
<script src="{% static 'js/main.js' %}"></script>
{% endcompress %}
<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="https://tiles.unwiredmaps.com/js/leaflet-unwired.js"></script>

<!-- Map Clustering -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
{% compress css %}
<link href="{% static 'css/bootstrap/bootstrap.scss' %}" rel='stylesheet' type="text/x-scss" charset="utf-8" />
<link href="{% static 'css/main.scss' %}" rel='stylesheet' type="text/x-scss" charset="utf-8" />
{% endcompress %}
{{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">{% trans 'Seeker' %}</a></h1>
{% endblock %}
