{% extends "base.html" %} 
{% load tz %} 
{% block title %}
    {{ company.title }}{{ block.super }}
{% endblock %} 
{% block content %}
<div class="col-md-8 offset-md-2">
    <h2>{{ company.title }}</h2>
    <hr>
    <p>Location: Lexington, KY | URL: <a href="http://www.example.com" target="_blank">www.example.com</a></p>
    <hr>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
    <hr>
    <!-- Post Content -->
    <p>{{ company.body|safe }}</p>
    <hr>
</div>
{% endblock %}
