{% extends "base.html" %} {% load tz humanize %} {% block content %}
<div class="col-md-8 offset-md-2">
    {% for company in company_list %}
    <!-- Company Post -->
    <div class="media media-item mb-4">
        <a href="{{ company.get_absolute_url }}">
            {% if company.logo %}
            <img class="align-self-start mr-3" src="{{ company.logo }}" alt="{{ company.title }}">
            {% else %}
            <img class="align-self-start mr-3" src="https://dummyimage.com/200x200?text=No%20Logo" alt="Placeholder logo">
            {% endif %}
        </a>
        <div class="media-body">
            <h2 class="mt-0"><a href="{{ company.get_absolute_url }}">{{ company.title }}</a></h2>
        </div>
    </div>
    {% endfor %} {% include 'includes/pagination.html' %}
</div>
{% endblock %}
