form {
    position: relative;
}

.newsletter-form .newsletter-error,
.newsletter-form .newsletter-success {
    position: absolute;
    top: 100%;
    left: 0;
    color: #ffffff !important;
    margin-top: 20px;
    display: none;
}

.newsletter-error {
    background: #e74c3c;
    text-align: left;
    padding: 0 5px;
    color: #ffffff;
}

.newsletter-success {
    background: #16a085;
    padding: 0 5px;
    text-align: left;
    color: #ffffff;
}
