.fact-bg {
    background: url("../images/bg/fact-bg.jpg") no-repeat center center;
    background-size: cover;
}

.fact {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.fact .fact-icon svg {
    height: 35px;
}

.fact .fact-number {
    font-size: 30px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1;
}

.fact .fact-name {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0;
}