.footer-bg {
    background: #ffffff;
}

.footer-social {
    text-align: right;
}

.footer-social .social-icons {
    padding: 0;
    margin: 12px 0 0;
    list-style: none;
    display: inline-block;
}

.footer-social .social-icons li {
    display: inline-block;
    padding-left: 25px;
}

.footer-social .social-icons li a {
    color: rgba(111, 116, 132, 0.5);
}

.footer-social .social-icons li a:hover {
    color: #6f7484;
}

.footer-social .social-icons li:first-child {
    padding-left: 0;
}

.footer-social .select-language {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.footer-social .select-language.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 60px;
    outline: none !important;
}

.footer-social .select-language.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.footer-social .select-language.bootstrap-select .dropdown-menu li a {
    font-size: 1.4rem;
}

.footer-social .select-language .btn-light {
    background: transparent;
    padding: 5px 0;
    border: 0;
    font-size: 1.5rem;
}

.footer-widget {
    margin-bottom: 40px;
}

.footer-widget h4 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 35px;
}

.footer-widget.widget-about .description {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #6f7484;
}

.footer-widget.widget-about .about-contact {
    display: block;
    color: #6f7484;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.footer-widget.widget-about .about-contact svg {
    height: 15px;
    margin-right: 15px;
}

.footer-widget.footer-shortcut-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-widget.footer-shortcut-link ul li+li {
    margin-top: 10px;
}

.footer-widget.footer-shortcut-link ul li {
    color: #6f7484;
}

.footer-widget.footer-shortcut-link ul li:hover {
    color: #246df8;
}

.footer-widget.footer-newsletter p {
    font-size: 1.4rem;
    color: #6f7484;
    max-width: 300px;
}

.footer-widget.footer-newsletter .newsletter-form {
    position: relative;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control {
    border-bottom-color: rgba(36, 109, 248, 0.4);
    font-family: "Poppins", sans-serif;
    color: #6f7484;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #6f7484;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #6f7484;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #6f7484;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #6f7484;
}

.footer-widget.footer-newsletter .newsletter-form .form-group .form-control:focus {
    border-bottom-color: #246df8;
}

.footer-widget.footer-newsletter .newsletter-form .button {
    background: #246df8;
    border-color: #246df8;
}

.footer-widget.footer-newsletter .newsletter-form .button:hover {
    color: #ffffff;
}

.footer-widget.footer-newsletter .newsletter-form .button:focus {
    outline: none;
}

.footer-bottom {
    padding: 40px 0;
}

.footer-bottom .copyright-text {
    color: #6f7484;
    padding-top: 15px;
}

.footer-bottom .copyright-text a:hover {
    color: #246df8;
}

.footer-bottom .footer-app-download {
    text-align: center;
}

.footer-bottom .footer-app-download a {
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 12px 15px 12px 45px;
    margin: 0 5px;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #101725;
    position: relative;
}

.footer-bottom .footer-app-download a:before {
    position: absolute;
    top: 11px;
    left: 15px;
}

.footer-bottom .footer-app-download a:hover {
    color: #246df8;
    border-color: #246df8;
}

.footer-bottom .footer-app-download .apple-app:before {
    content: url("../images/apple.png");
}

.footer-bottom .footer-app-download .android-app:before {
    content: url("../images/google.png");
}

.footer-bottom .back-to-top {
    text-align: right;
}

.footer-bottom .back-to-top a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #6f7484;
}

.footer-bottom .back-to-top a i {
    height: 55px;
    width: 55px;
    font-size: 2.2rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    background: #fbfbfb;
    color: #6f7484;
    line-height: 55px;
    text-align: center;
    margin-left: 15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.footer-bottom .back-to-top a:hover {
    color: #246df8;
}

.footer-bottom .back-to-top a:hover i {
    border-color: #246df8;
    color: #246df8;
}

.slim-footer {
    padding: 47px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.slim-footer p {
    margin-bottom: 0;
    color: #6f7484;
}

.slim-footer p a:hover {
    color: #246df8;
}

.slim-footer .footer-social-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slim-footer .footer-social-link ul li {
    display: inline-block;
    margin-right: 25px;
}

.slim-footer .footer-social-link ul li a {
    color: rgba(111, 116, 132, 0.5);
}

.slim-footer .footer-social-link ul li a:hover {
    color: #6f7484;
}

.slim-footer .footer-social-link ul li:last-child {
    margin-right: 0;
}

@media all and (min-width: 1200px) {
    .slim-footer {
        width: 1040px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .footer-bottom .footer-app-download {
        text-align: left;
    }
}

@media all and (max-width: 991px) {
    .footer-widget h4 {
        margin-bottom: 20px;
    }

    .footer-bottom {
        padding: 40px 0;
    }

    .footer-bottom .copyright-text {
        padding-top: 25px;
        text-align: center;
    }

    .footer-bottom .back-to-top {
        text-align: center;
        margin-top: 20px;
    }
}

@media all and (max-width: 767px) {
    .footer-logo {
        text-align: center;
        margin-bottom: 25px;
    }

    .footer-social {
        text-align: center;
    }

    .footer-social .social-icons li {
        padding-left: 10px;
    }

    .footer-widget.footer-newsletter .newsletter-form .form-group {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 350px;
    }

    .slim-footer {
        display: block;
        text-align: center;
    }

    .slim-footer .footer-social-link {
        margin-top: 20px;
    }
}

@media all and (max-width: 379px) {
    .footer-bottom .footer-app-download {
        text-align: center;
    }

    .footer-bottom .footer-app-download a {
        display: block;
        width: 160px;
        margin: 0 auto;
    }

    .footer-bottom .footer-app-download a+a {
        margin-top: 15px;
    }
}
