.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header h2 {
    font-family: #headerFont;
    font-weight: 600;
    font-size: 2.8rem;
}

.section-header p {
    font-size: 1.6rem;
    margin-top: 10px;
}

.section-header.section-header-center h6 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    color: #6f7484;
    font-weight: 600;
    margin-bottom: 10px;
}

.section-header.section-header-center h2 {
    font-size: 2.6rem;
    color: #101725;
    font-weight: 600;
}

.section-header.section-header-2 {
    text-align: left;
}

.section-header-with-right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-header-with-right-content .header-right {
    font-size: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #246df8;
}

@media all and (max-width: 479px) {
    .section-header-with-right-content {
        display: block;
    }

    .section-header-with-right-content .header-right {
        margin-top: 10px;
    }
}
