.header-2 {
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
    z-index: 999;
    background: #ffffff;
}

.header-2 .fluid-nav {
    padding: 0 50px;
}

.cp-nav.fluid-nav {
    padding: 0 15px;
}

header {
    position: relative;
}

header .absolute-nav {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 999;
}

.transparent-nav.bg-light {
    background: transparent !important;
}

.navbar {
    padding: 0;
}

.transparent-nav .navbar-collapse .navbar-nav>li>a {
    color: #ffffff;
}

.cp-nav .navbar-brand {
    padding: 0;
}

.cp-nav .navbar-collapse .navbar-nav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cp-nav .navbar-collapse .navbar-nav li {
    margin-left: 25px;
}

.cp-nav .navbar-collapse .navbar-nav li:first-child {
    margin-left: 0;
}

.cp-nav .navbar-collapse .navbar-nav li a {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding: 12px 0;
}

.cp-nav .navbar-collapse .navbar-nav.job-browse li a i {
    margin-right: 8px;
}

.cp-nav .navbar-collapse .navbar-nav .post-job a {
    background: #ffffff;
    color: #246df8;
    padding: 12px 30px;
    border-radius: 3px;
    font-weight: 500;
}

.cp-nav .navbar-collapse .navbar-nav .post-job a i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.header-top {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-top .header-top-toggler {
    display: none;
}

.top-nav .bootstrap-select {
    outline: none !important;
}

.top-nav .bootstrap-select .btn {
    outline: none !important;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button {
    font-size: 1.3rem;
    position: relative;
    padding-right: 8px;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button:after {
    position: absolute;
    top: -14px;
    right: -7px;
    height: 4px;
    width: 4px;
    border-radius: 5px;
    background: #ffffff;
    content: '';
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button:before {
    position: absolute;
    top: -15px;
    left: -2px;
    content: "\e6b8";
    font-family: 'themify';
    font-size: 1.4rem;
    color: #ffffff;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    background: #ffffff;
    width: 315px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-head {
    padding: 10px 20px;
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: #6f7484;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-head a {
    padding: 0;
    color: #aaa;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-head a:hover {
    color: #246df8;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body {
    padding: 20px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* Set Scrollbar Width */
    /* Set Scrollbar Buttons */
    /* Set Scrollbar Track */
    /* Set Scrollbar Handle */
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar {
    width: 8px;
    background: #f3f3f3;
    right: 20px;
    border-radius: 5px;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar-track {
    border-radius: 5px;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dbe0e9;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list {
    padding: 10px 0;
    padding-left: 30px;
    position: relative;
    display: block;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list i {
    position: absolute;
    top: 14px;
    left: 0;
    color: rgba(1, 209, 61, 0.5);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list p {
    margin-bottom: 0;
    color: #6f7484;
    line-height: 1.3;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list p span {
    font-size: 1.4rem;
    font-style: normal;
    color: #246df8;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list span {
    color: #aaafcb;
    font-size: 1.3rem;
    font-style: italic;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-body .notification-list:hover i {
    color: #01d13d;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-footer a {
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #aaa;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card .notification-footer a:hover {
    color: #246df8;
}

.cp-nav .navbar-collapse .navbar-nav.account-nav>li.dropdown a:after {
    top: 10px;
}

.header-top-account .account-button,
.header-top-account>button {
    font-size: 1.3rem;
    color: #6f7484;
    position: relative;
    padding-right: 8px;
    margin-right: 10px;
}

.header-top-account .account-button:before,
.header-top-account>button:before {
    content: "\e602";
    font-family: 'themify';
    margin-right: 6px;
}

.header-top-account>button {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.header-top-account .account-card {
    padding: 20px 0;
    display: none;
    background: #ffffff;
    z-index: 99999;
    width: 290px;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.05);
}

.header-top-account .account-card .header-top-account-info {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-top-account .account-card .header-top-account-info .account-thumb {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.header-top-account .account-card .header-top-account-info .account-body h5 {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.header-top-account .account-card .header-top-account-info .account-body .mail {
    font-size: 1.3rem;
}

.header-top-account .account-card .account-item-list {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    list-style: none;
    font-size: 0;
}

.header-top-account .account-card .account-item-list li a {
    padding: 5px 20px;
    display: block;
    color: #6f7484;
    font-size: 1.4rem;
    font-weight: 400;
}

.header-top-account .account-card .account-item-list li a span {
    margin-right: 10px;
    color: #aaa;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.header-top-account .account-card .account-item-list li a:hover {
    color: #246df8;
}

.header-top-account .account-card .account-item-list li a:hover span {
    color: #246df8;
}

.header-top-account.login-modals a:before,
.header-top-account.login-modals button:before {
    content: '';
    height: 0;
    width: 0;
}

.select-language .btn-light {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.select-language .btn-light .filter-option-inner-inner {
    font-size: 1.3rem;
    color: #6f7484;
}

.select-language .btn {
    padding-left: 0;
}

.select-language .dropdown-menu,
.select-language .bootstrap-select .dropdown-menu li a .text {
    font-size: 1.3rem;
}

.cp-nav-2 {
    padding: 0 0 20px 0;
}

.cp-nav-2 .navbar-collapse .navbar-nav {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cp-nav-2 .navbar-collapse .navbar-nav .menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 30px;
    color: #6f7484;
}

.cp-nav-2 .navbar-collapse .navbar-nav .menu-item a:hover {
    color: #246df8;
}

.cp-nav-2 .navbar-collapse .navbar-nav .menu-item.post-job {
    margin-left: auto;
    margin-right: 0;
}

.cp-nav-2 .navbar-collapse .navbar-nav .menu-item.post-job a {
    background: #246df8;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-radius: 3px;
    padding: 11px 20px;
}

.cp-nav-2 .navbar-collapse .navbar-nav .menu-item.post-job a i {
    font-size: 1.2rem;
    margin-right: 10px;
}

.account-entry .modal-header {
    padding: 15px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.account-entry .modal-header h5 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.account-entry .modal-header h5 svg {
    height: 15px;
    width: 15px;
    margin-right: 7px;
    color: #6f7484;
}

.account-entry .modal-header .close {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    color: #6f7484;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    outline: none;
}

.account-entry .modal-header .close:focus,
.account-entry .modal-header .close:hover {
    color: #246df8;
}

.account-entry .modal-body {
    padding: 30px;
}

.account-entry .modal-body .account-type {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.account-entry .modal-body .account-type a {
    padding: 15px 20px;
    background: #f7f9fc;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #232630;
    width: 45%;
    text-align: center;
}

.account-entry .modal-body .account-type a.active {
    color: #246df8;
    background: rgba(36, 109, 248, 0.2);
    border-color: transparent;
}

.account-entry .modal-body .account-type a svg {
    height: 14px;
    width: 14px;
    margin-right: 7px;
}

.account-entry .modal-body .form-group {
    margin-bottom: 30px;
}

.account-entry .modal-body .form-group .form-control {
    height: 50px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1.4rem;
}

.account-entry .modal-body .form-group .form-control:focus {
    border-bottom-color: #246df8;
}

.account-entry .modal-body .more-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #6f7484;
    margin-bottom: 30px;
}

.account-entry .modal-body .more-option .form-check .form-check-input {
    margin-top: 6px;
}

.account-entry .modal-body .more-option .form-check .form-check-label {
    margin-left: 7px;
}

.account-entry .modal-body .more-option.terms .form-check-label a {
    color: #246df8;
    text-decoration: underline;
}

.account-entry .modal-body .more-option a:hover {
    color: #246df8;
}

.account-entry .modal-body .button {
    color: #ffffff;
    padding: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.account-entry .modal-body .shortcut-login {
    margin-top: 30px;
}

.account-entry .modal-body .shortcut-login span {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    color: #6f7484;
    margin-bottom: 10px;
    display: inline-block;
}

.account-entry .modal-body .shortcut-login .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.account-entry .modal-body .shortcut-login .buttons a {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    padding: 14px 30px;
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #101725;
    text-align: center;
    width: 45%;
}

.account-entry .modal-body .shortcut-login .buttons a i {
    margin-right: 7px;
}

.account-entry .modal-body .shortcut-login .buttons a.facebook i {
    color: #3b5998;
}

.account-entry .modal-body .shortcut-login .buttons a.google i {
    color: #ea4335;
}

.account-entry .modal-body .shortcut-login p {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #6f7484;
    margin-top: 20px;
}

.account-entry .modal-body .shortcut-login p a {
    font-weight: 500;
}

.account-entry .modal-body .shortcut-login p a:hover {
    color: #246df8;
}

.btn-light:not(:disabled):not(.disabled):active {
    border-bottom: 0;
}

.show>.btn-light.dropdown-toggle {
    border-bottom: 0;
}

@media all and (min-width: 1440px) {
    .cp-nav.fluid-nav {
        padding: 0 50px;
    }
}

@media all and (min-width: 1200px) {
    .cp-nav .navbar-collapse {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cp-nav .navbar-collapse .navbar-nav>li.dropdown a {
        padding-right: 13px;
    }

    .cp-nav .navbar-collapse .navbar-nav>li.dropdown a:after {
        position: absolute;
        top: 23px;
        right: 0;
        color: #a6c5ff;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        top: 100%;
        left: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown-menu {
        top: 0;
        left: 100%;
        right: auto;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu {
        left: auto;
        right: 100%;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown a:after {
        right: 20px;
        top: 20px;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        min-width: 190px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 3px;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li {
        margin-left: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:last-child {
        border-bottom: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a {
        padding: 8px 20px;
        display: block;
        font-weight: 400;
        position: relative;
        color: #6f7484;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:hover {
        color: #246df8;
    }

    .cp-nav .navbar-collapse .navbar-nav.main-nav li.dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.main-nav li.dropdown:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav {
        margin-left: 20px !important;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li {
        margin-left: 20px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li a {
        padding-top: 0;
        padding-bottom: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li svg {
        height: 20px;
        width: 20px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li:first-child {
        margin-left: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li.dropdown .dropdown-menu {
        left: auto;
        right: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .login-popup button {
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        padding: 0;
        cursor: pointer;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse {
        margin-left: 40px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li a.dropdown-toggle:hover {
        color: #ffffff;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        visibility: hidden;
        opacity: 0;
        padding: 40px 30px;
        margin: 0;
        list-style: none;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by h5 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #515666;
        margin-bottom: 20px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li {
        min-width: 220px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li a {
        padding: 0;
        color: #6f7484;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li a:hover {
        color: #246df8;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li a:hover span {
        color: #246df8;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li a span {
        color: #aaaaaa;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by ul li+li {
        margin-top: 12px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by:first-child {
        position: relative;
        margin-right: 30px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu .search-by:first-child:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        background: rgba(0, 0, 0, 0.08);
        content: '';
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse li .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
    }
}

@media all and (min-width: 992px) {
    .top-nav {
        display: block;
    }

    .header-top {
        margin-bottom: 8px;
    }

    .header-top .logo-area a img {
        height: 43px;
    }

    .header-top .top-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header-top .top-nav .header-top-notification {
        position: relative;
    }

    .header-top .top-nav .header-top-notification .notification-button {
        color: #6f7484;
        font-size: 1.3rem;
        margin-right: 12px;
    }

    .header-top .top-nav .header-top-notification .notification-button:before {
        content: "\e6b8";
        font-family: 'themify';
        margin-right: 5px;
    }

    .header-top .top-nav .header-top-notification .notification-card {
        display: none;
        position: absolute;
        top: 30px;
        left: 0;
        width: 315px;
        background: #ffffff;
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        z-index: 99;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-head {
        padding: 10px 20px;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        color: #6f7484;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-head a {
        padding: 0;
        color: #aaa;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-head a:hover {
        color: #246df8;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body {
        padding: 20px;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        /* Set Scrollbar Width */
        /* Set Scrollbar Buttons */
        /* Set Scrollbar Track */
        /* Set Scrollbar Handle */
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar {
        width: 8px;
        background: #f3f3f3;
        right: 20px;
        border-radius: 5px;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #dbe0e9;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list {
        padding: 10px 0;
        padding-left: 30px;
        position: relative;
        display: block;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list i {
        position: absolute;
        top: 14px;
        left: 0;
        color: rgba(1, 209, 61, 0.5);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list p {
        margin-bottom: 0;
        color: #6f7484;
        line-height: 1.3;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list p span {
        font-size: 1.4rem;
        font-style: normal;
        color: #246df8;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list span {
        color: #aaafcb;
        font-size: 1.3rem;
        font-style: italic;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-body .notification-list:hover i {
        color: #01d13d;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-footer {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-footer a {
        padding: 10px 20px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: #aaa;
    }

    .header-top .top-nav .header-top-notification .notification-card .notification-footer a:hover {
        color: #246df8;
    }

    .header-top .top-nav .login-modals {
        margin-right: 6px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav>li.dropdown a {
        padding-right: 13px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav>li.dropdown a:after {
        position: absolute;
        top: 12px;
        right: 0;
        color: #aaa;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        top: 100%;
        left: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown-menu {
        top: 0;
        left: 100%;
        right: auto;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu {
        left: auto;
        right: 100%;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu .dropdown a:after {
        right: 20px;
        top: 20px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown:hover>.dropdown-menu {
        visibility: visible;
        opacity: 1;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        min-width: 190px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 3px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li {
        margin-right: 0;
        margin-left: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li:last-child {
        border-bottom: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a {
        padding: 8px 20px;
        display: block;
        font-weight: 400;
        position: relative;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.dropdown .dropdown-menu li a:hover {
        color: #246df8;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.main-nav li.dropdown .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.main-nav li.dropdown:hover>.dropdown-menu {
        opacity: 1;
        visibility: visible;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav {
        margin-left: 20px !important;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li {
        margin-left: 20px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li svg {
        height: 20px;
        width: 20px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li:first-child {
        margin-left: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li.dropdown .dropdown-menu {
        left: auto;
        right: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li.nav-notification a {
        padding-right: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.account-nav li.nav-notification a:after {
        content: '';
        height: 0;
        width: 0;
        border-top: 0;
        border-bottom: 0;
        border-radius: 0;
        border-left: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.job-browse {
        margin-left: 20px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav.job-browse li a.dropdown-toggle:hover {
        color: #ffffff;
    }
}

@media all and (max-width: 1199px) {
    .header-2 .fluid-nav {
        padding: 0 15px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-card {
        top: 40px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button:before {
        color: #6f7484;
        top: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .header-top-notification .notification-button:after {
        background: #6f7484;
        top: 0;
    }

    .cp-nav .navbar-toggler {
        border: 1px solid #ffffff;
        border-radius: 0;
        font-size: 2.2rem;
        padding: 5px 10px;
        outline: none;
        background: #ffffff;
    }

    .cp-nav .navbar-toggler .navbar-toggler-icon {
        color: #246df8;
        background-image: url();
        height: auto;
        width: auto;
    }

    .cp-nav .navbar-toggler .navbar-toggler-icon:before {
        content: "\e68e";
        font-family: 'themify';
    }

    .cp-nav .navbar-toggler.collapsed {
        background: transparent;
    }

    .cp-nav .navbar-toggler.collapsed .navbar-toggler-icon {
        color: #ffffff;
    }

    .cp-nav .navbar-collapse {
        background: #ffffff;
    }

    .cp-nav .navbar-collapse .navbar-nav {
        padding: 0 20px;
        display: block;
    }

    .cp-nav .navbar-collapse .navbar-nav li {
        margin-left: 0;
        display: block;
    }

    .cp-nav .navbar-collapse .navbar-nav li a {
        color: #6f7484;
        padding: 7px 0;
        display: block;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown a {
        position: relative;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown a:after {
        position: absolute;
        top: 18px;
        right: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .cp-nav .navbar-collapse .navbar-nav li.post-job a {
        display: inline-block;
        background: #246df8;
        color: #ffffff;
        margin-top: 15px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse {
        padding-top: 10px;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse .dropdown-menu .search-by {
        padding: 20px 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse .dropdown-menu .search-by h5 {
        font-size: 1.4rem;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .cp-nav .navbar-collapse .navbar-nav.job-browse .dropdown-menu .search-by ul {
        padding-left: 0;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav {
        padding-bottom: 10px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li.dropdown>a {
        display: inline-block;
        padding-right: 10px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li.dropdown>a:after {
        top: 18px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li.dropdown .notification-card {
        left: 0;
        right: auto;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav .login-popup button {
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        padding: 7px 0;
        color: #6f7484;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        cursor: pointer;
    }
}

@media all and (max-width: 991px) {
    .header-top {
        padding: 10px 0;
        height: 60px;
        position: relative;
    }

    .header-top .logo-area a img {
        height: 40px;
    }

    .header-top .header-top-toggler {
        display: block;
    }

    .header-top .header-top-toggler .header-top-toggler-button {
        position: relative;
        font-size: 2.2rem;
        line-height: 33px;
    }

    .header-top .header-top-toggler .header-top-toggler-button:before {
        content: "\f142";
        font-family: 'Font Awesome\ 5 Free';
        color: #6f7484;
        font-weight: 900;
    }

    .header-top .top-nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #ffffff;
        width: 150px;
        z-index: 99;
        padding: 20px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
    }

    .header-top .top-nav .dropdown {
        display: block;
    }

    .header-top .top-nav .notification-button {
        font-size: 1.3rem;
        color: #6f7484;
    }

    .header-top .top-nav .notification-card {
        display: none;
        position: absolute;
        top: 25px;
        right: calc(100% + 20px);
        width: 315px;
        background: #ffffff;
        border-radius: 3px;
        -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.08);
        z-index: 999;
    }

    .header-top .top-nav .notification-card .notification-head {
        padding: 10px 20px;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        color: #6f7484;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .header-top .top-nav .notification-card .notification-head a {
        padding: 0;
        color: #aaa;
    }

    .header-top .top-nav .notification-card .notification-head a:hover {
        color: #246df8;
    }

    .header-top .top-nav .notification-card .notification-body {
        padding: 20px;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: scroll;
        /* Set Scrollbar Width */
        /* Set Scrollbar Buttons */
        /* Set Scrollbar Track */
        /* Set Scrollbar Handle */
    }

    .header-top .top-nav .notification-card .notification-body::-webkit-scrollbar {
        width: 8px;
        background: #f3f3f3;
        right: 20px;
        border-radius: 5px;
    }

    .header-top .top-nav .notification-card .notification-body::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    .header-top .top-nav .notification-card .notification-body::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #dbe0e9;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list {
        padding: 10px 0;
        padding-left: 30px;
        position: relative;
        display: block;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list i {
        position: absolute;
        top: 14px;
        left: 0;
        color: rgba(1, 209, 61, 0.5);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list p {
        margin-bottom: 0;
        color: #6f7484;
        line-height: 1.3;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list p span {
        font-size: 1.4rem;
        font-style: normal;
        color: #246df8;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list span {
        color: #aaafcb;
        font-size: 1.3rem;
        font-style: italic;
    }

    .header-top .top-nav .notification-card .notification-body .notification-list:hover i {
        color: #01d13d;
    }

    .header-top .top-nav .notification-card .notification-footer {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

    .header-top .top-nav .notification-card .notification-footer a {
        padding: 10px 20px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 1.3rem;
        color: #aaa;
    }

    .header-top .top-nav .notification-card .notification-footer a:hover {
        color: #246df8;
    }

    .header-top .top-nav .header-top-account button {
        margin-top: 5px;
    }

    .header-top .top-nav .header-top-account button:before {
        margin-right: 0;
    }

    .header-top .top-nav .select-language .dropdown-toggle {
        margin-top: 10px;
        padding: 0;
        text-align: left;
    }

    .header-top .top-nav .select-language .btn-light {
        color: #aaa;
    }

    .cp-nav-2 {
        position: relative;
        padding: 0;
    }

    .cp-nav-2 .navbar-toggler {
        border: 1px solid rgba(36, 109, 248, 0.4);
        border-radius: 0;
        font-size: 2.2rem;
        padding: 5px 10px;
        outline: none;
        background: #ffffff;
        position: absolute;
        top: -49px;
        right: 30px;
    }

    .cp-nav-2 .navbar-toggler .navbar-toggler-icon {
        color: #246df8;
        background-image: url();
        height: auto;
        width: auto;
    }

    .cp-nav-2 .navbar-toggler .navbar-toggler-icon:before {
        content: "\e68e";
        font-family: 'themify';
    }

    .cp-nav-2 .navbar-collapse {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background: #ffffff;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 20px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 40px 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 40px 0px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li a {
        padding: 5px 0;
        display: block;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li a.dropdown-toggle {
        position: relative;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li a.dropdown-toggle:after {
        position: absolute;
        top: 15px;
        right: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li.post-job {
        margin-top: 10px;
        display: inline-block;
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav li .dropdown-menu {
        padding: 15px;
    }

    .cp-nav-2 .navbar-collapse .navbar-nav .menu-item.post-job {
        margin-right: 0;
        margin-left: 0;
    }
}

@media all and (max-width: 499px) {
    .header-top .top-nav .notification-card {
        right: -20px;
    }
}

@media all and (max-width: 439px) {
    .cp-nav .navbar-collapse .navbar-nav {
        padding: 0 15px;
    }

    .cp-nav .navbar-collapse .navbar-nav li.dropdown .dropdown-menu {
        padding: 0 15px;
    }

    .cp-nav .navbar-collapse .navbar-nav.account-nav li.dropdown.header-top-notification .notification-card {
        top: 40px;
        left: -15px;
        width: 290px;
    }

    .header-top .top-nav .notification-card {
        width: 290px;
    }

    .account-entry .modal-body .shortcut-login .buttons {
        display: block;
    }

    .account-entry .modal-body .shortcut-login .buttons a {
        width: 100%;
    }

    .account-entry .modal-body .shortcut-login .buttons a.facebook {
        margin-right: 0;
    }

    .account-entry .modal-body .shortcut-login .buttons a+a {
        margin-top: 15px;
    }
}