.professonal-skill .progress-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.professonal-skill .progress-group .progress-item {
    width: calc(50% - 15px);
    margin-top: 10px;
}

.professonal-skill .progress-group .progress-item .progress-body {
    position: relative;
}

.professonal-skill .progress-group .progress-item .progress-body .progress {
    border-radius: 0;
    background: #f0f5fb;
    height: 5px;
}

.professonal-skill .progress-group .progress-item .progress-body .progress .progress-bar {
    background: #246df8;
}

.professonal-skill .progress-group .progress-item .progress-body .progress-to {
    position: absolute;
    top: -25px;
    right: 0;
}

.professonal-skill .progress-group .progress-item:nth-child(2n) {
    flex-break: before;
}

@media all and (max-width: 767px) {
    .professonal-skill .progress-group {
        display: block;
    }

    .professonal-skill .progress-group .progress-item {
        width: 100%;
        margin-top: 20px;
    }
}