{% extends "base.html" %}
{% load tz humanize %}
{% block content %}
{% include 'includes/user-sidebar.html' %}
<div class="dashboard-content-wrapper">
    <div class="dashboard-section user-statistic-block">
        <div class="user-statistic">
            <i data-feather="pie-chart"></i>
            <h3>132</h3>
            <span>Companies Viewed</span>
        </div>
        <div class="user-statistic">
            <i data-feather="briefcase"></i>
            <h3>12</h3>
            <span>Applied Jobs</span>
        </div>
        <div class="user-statistic">
            <i data-feather="heart"></i>
            <h3>32</h3>
            <span>Favourite Jobs</span>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="media-item-total mb-4">
        <p>There are currently <strong>{{ job_count }}</strong> jobs listed.</p>
    </div>
    {% for job in job_list %}
    <!-- Job Post -->
    <div class="media media-item mb-4">
        <a href="{{ job.get_absolute_url }}">
            {% if job.company.logo %}
            <img class="align-self-start mr-3" src="{{ job.company.logo }}" alt="{{ job.company.name }}">
            {% else %}
            <img class="align-self-start mr-3" src="https://dummyimage.com/200x200?text=No%20Logo" alt="Placeholder logo">
            {% endif %}
        </a>
        <div class="media-body">
            <h2 class="mt-0"><a href="{{ job.get_absolute_url }}">{{ job.title }}</a></h2>
            <p> {{ job.board }} | {{ job.scrape_date }}</p>
        </div>
    </div>
    <!-- {% endfor %} {% include 'includes/pagination.html' %} -->
</div>
{% endblock %}
